<%= render partial: "shared/second-header" %>
<div class='registration-main'>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        会員登録の方法をお選びください
      </h1>
    </div>
    <div class= "sns">
      <%= link_to "メールアドレスで登録", new_user_registration_path, class:"snsup"%>
      <%= link_to "Facebookのアカウントで新規登録", user_facebook_omniauth_authorize_path, method: :post, class:"snsup"%>
      <%= link_to "Googleのアカウントで新規登録", user_google_oauth2_omniauth_authorize_path, method: :post, class:"snsup"%>
    </div>
  </div>

</div>
<%= render partial: "shared/second-footer"%>
